// Variable overrides
$sidebar-dark-nav-link-hover-color: #ebdde7;
$sidebar-dark-nav-link-hover-bg: #733160;
$sidebar-dark-nav-link-hover-icon-color: rgb(213, 206, 206);
$sidebar-dark-bg: #2b1b34;
$theme-colors: (
  "bayulet": #321fdb,
);
